-
  meta = massProduction.meta;
  BASE_URL = SITE_ORIGIN + BASE_PATH.slice(1);
  url = `${BASE_URL}share/${meta.friendly_id}/`;
  title = `${meta.name} | ${META.TITLE}`;
  ogImg = `${BASE_URL}i-oshishi/${meta.friendly_id}.png`;

doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='keywords', content=META.KEYWORDS)
    meta(name='description', content=META.DESCRIPTION)
    meta(name='format-detection', content='telephone=no')
    meta(property='og:url', content=url)
    meta(property='og:title', content=title)
    meta(property='og:description', content=META.DESCRIPTION)
    meta(property='og:image', content=ogImg)
    meta(property='og:type', content='website')
    meta(property='og:locale', content='ja_JP')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='twitter:title', content=META.TITLE)
    meta(property='twitter:description', content=META.DESCRIPTION)
    meta(property='twitter:image', content=ogImg)
    link(rel='canonical', href=url)
    link(rel='icon', href=`${BASE_PATH}favicon.ico`)
    title=title
  body
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-130625316-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-130625316-2');
